<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
    </head>
    <body>
        <div class="login-layout">
            <div class="header">
                <div class="logo">
                    <img alt="logo42" src="https://api.intra.42.fr/assets/42_logo_api.svg">
                </div>
            </div>
            <div id="container">
                <div class="main-registration-api">
                    <header class="page-header" role="banner">
                        <h2 class="welcome-header">Welcome to 42User App</h2>
                        <h4 class="author">Made by: Natasha Lutsevich <img alt="me" src="/images/me.png"></h4>
                    </header>
                    <main role="main">
                        <button type="button" class="btn btn-light btn-lg btn-block" onclick="window.location.href='https://api.intra.42.fr/oauth/authorize?client_id=6fb182b993012db6027283185e27e547b585a20a9281cf8100ff27fbe278be04&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fcallback&response_type=code'">Log me in</button></br></br>
                    </main>
                </div>
            </div>
        </div>
    </body>
</html>